[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
matplotlib = "*"
sympy = "*"
tensorflow = ">=1.4,<1.5"
scipy = "*"
numpy = "*"
"h5py" = "*"


[dev-packages]



[requires]

python_version = "3.6"
