[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
matplotlib = "*"
sympy = "*"
tensorflow = ">=1.4,<1.5"
scipy = "*"
numpy = "*"
"h5py" = "*"
pymanopt = { git = "https://github.com/pymanopt/pymanopt", ref = "79d12fe564ec586ed17e76f359009f981d8fc356" }
autograd = "*"
imageio = "*"
scikit-image = "*"


[dev-packages]



[requires]

python_version = "3.6"
